@import  '../../../../src/styles/variables.scss';

.input-wrapper {
    
    color: $text-color;
    font-size: 16px;
    text-align: start;

    label{
        margin-bottom: 10px;
       
    }

    .input-content{
        width: 100%;
        border-radius: 8px;
        display: flex;
        .icon{
            padding: 4px;
            background-color: $primary-color;
            border-radius: 0px 8px 8px 0px;
            img{
                height: 15px;
            }
        }
        
        input{
        border: none;
        background-color: $background-color-secundary;
        border-radius: 8px 0px 0px 8px;
        padding: 12px 0 12px 20px;
        width: 100%;
}
    }
    
}

