$primary-color: #011C40;
$secondary-color: #2D4B73;
$mid-color: #56738C;
$background-color-terciary: #D4EBFF;
$background-color-secundary: #E9EEF2;
$background-color: #F5F7F9;
$text-color: #555555;
$suport-color: #262626;
$suport-color-contrast: #F0A533;

:root {
  --primary-color: #011C40;
  --secondary-color: #2D4B73;
  --mid-color: #56738C;
  --background-color-terciary: #D4EBFF;
  --background-color-secundary: #E9EEF2;
  --background-color: #F5F7F9;
  --text-color: #555555;
  --suport-color: #262626;
  --suport-color-contrast: #F0A533;
}
