@import "../../../styles/variables.scss";
.upload-card {
  background: white;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 600px;
  margin: -50px auto 0;
  position: relative;
  z-index: 20;

  .btn-back {
  // Reset de estilos padrão
  background: transparent;
  border: 1px solid rgba($mid-color, 0.3);
  cursor: pointer;
  
  // Layout e Espaçamento
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  
  // Tipografia
  color: $mid-color;
  font-weight: 600;
  font-size: 0.95rem;
  
  // Animação
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  // Efeito ao passar o mouse
  &:hover {
    background-color: rgba($primary-color, 0.05);
    color: $primary-color;
    border-color: $primary-color;
    transform: translateX(-5px); // Efeito visual de "voltar"
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }

  // Efeito ao clicar
  &:active {
    transform: scale(0.95);
  }
}

  .service-badge {
    background: $background-color-terciary;
    color: $primary-color;
    padding: 8px 16px;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 20px;
  }

  .drop-zone {
    border: 2px dashed $background-color-terciary;
    padding: 40px;
    border-radius: 16px;
    margin: 30px 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: $background-color;
      border-color: $primary-color;
    }

    .icon { font-size: 3rem; display: block; margin-bottom: 10px; }
  }

  .btn-process {
    background: $suport-color-contrast;
    color: $primary-color;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
  }
}
