@import  '../../../../src/styles/variables.scss';

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
section{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section {
    gap: 8;
    flex-grow: 1;
    background-color: $mid-color;
    color: white;
    font-size: 30px;;

    img{
        width: 40%;
        
    }
}

.form-section{
    flex-grow: 0.3;
    padding: 0 35px;

    img{
        width: 20%;
        margin-bottom: 0px;
    }

    h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 45px;
    }

    .btn-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;

        .divider{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            font-size: 14px;
            color: $text-color;
            font-weight: 400;
            text-transform: uppercase;
            width: 100%;
            div{
                flex-grow: 1;
                height: 2px;
                min-width: 100px;
                background-color: $background-color-secundary;
            }
        }

            button{
            width: 100%;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            border: none;
            background-color: transparent;
            gap: 34px;
            cursor: pointer;
                
            &:disabled{
                opacity: 0.8;
            }

            padding: 12px 24px;

            &.btn-primary {
                background-color: $primary-color;
                color: white;
                box-shadow: 0px 8px 12px rgba(1, 28, 64, 0.5);
            }

            &.btn-secondary {
                border: 1px solid $primary-color;
                color: $primary-color;
            }
    }
    }


    
}