@import 'ngx-toastr/toastr';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}
app-root {
  display: block;
  width: 100%;
  height: 100%;
}
